@model List<IdentityRole>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div style="background-color:#D4AF37;" class=" border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Roles</h6>

                    </div>
                    <a asp-action="Add" asp-controller="Role" class="text-white btn  text-xs mt-3" style="background-color:#D4AF37;color:white" data-toggle="tooltip" data-original-title="Edit user">
                        Add New Role
                    </a>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Role Name</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Manage</th>

                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var role in Model)
                                {
                                    <tr>
                                        <td class="align-middle text-center text-sm">
                                           @role.Name
                                        </td>

                                        <td class="align-middle">
                                            <a asp-action="Edit" asp-controller="Role" asp-route-id="@role.Id"  data-toggle="tooltip" data-original-title="Edit user">
                                                Edit
                                            </a>
                                            <a asp-action="Delete" asp-controller="Role" asp-route-id="@role.Id" data-toggle="tooltip" data-original-title="Edit user">
                                                Delete
                                            </a>
                                        </td>
                                      
                                    </tr>
                                }
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
